.eventInfoContainer{
    display: flex;
    flex-direction: column;
}
.eventHeader{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}
.eventSubContainer{
    display: flex;
}
.eventSubInfo{
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-right: 14px;
}
.eventSubInfo img{
    padding-right: 13px;
}

.eventInfo{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #273240;
    padding-right: 111px;
    width: 537px;
}
