.eventContainer{
    margin-top: 120px;
    margin-left: 70px;
    margin-right: 70px;   
}
.eventHeader{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}
.eventInfo{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 70px;
    word-wrap: break-word;
}