.Container{
    height: 104px;
    padding: 29px 70px;
    display: flex;
    align-items: center;
    background: #273240;
}

.navItem {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
}

.navStart{
    padding-right: 219px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;  
}
.navStart img{
    width: 49px;
    height: 55px;
}

.navStart p{
    display: inline-block;
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
    color: #FF8B42;

}

#navMid{
    padding-right: 70px;
}
#navMid img {
    margin-right: 13px;
}
.register {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 16px 16px 21px 34px;
    background: #FF8B42;
    border-radius: 6px;
   
}
.login{
    margin-right: 19px;
}