.testimonialContainer{
    height: 510px;
    margin-left: 70px;
    margin-right: 70px;
    background: rgba(26, 14, 45, 1);
    border-radius: 20px;
}
.feedBackHeader{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    text-align: center;
}
.feedBackContainer{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    padding-left: 310px;
    padding-right: 271px;
    gap:68px;
}
.author {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    margin-top: 32px;
    color: #FFFFFF;
}
.authorDesignation{
    color: #FF8B42;
}